<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6Ct350inpTHOIH0dBFaHlJfBQjMbUQvk</string>
	<key>GCM_SENDER_ID</key>
	<string>351039068752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hosle.woodlandscheckpoint</string>
	<key>PROJECT_ID</key>
	<string>henry-50apps-project</string>
	<key>STORAGE_BUCKET</key>
	<string>henry-50apps-project.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:351039068752:ios:9210a214c746fbcd254f55</string>
</dict>
</plist>